@import url(./__title/intro__title.css);
@import url(./__normal/intro__normal.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
.intro {
    max-width: 690px;
    width: 53.9%;
    margin-left: 11.5625%;
    margin-bottom: 92px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
        width: 90.625%;
        margin-left: 4.6875%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        margin: 0 auto;
        max-width: 720px;
        width: 100%;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 500px) {
    .intro {
        max-width: 400px;
        width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        width: 100%;
        margin-bottom: 64px;
    }
}