@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__link/cover__link.css);
.cover {
    margin: 0 auto;
    padding-bottom: 92px;
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        max-width: 425px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        padding-bottom: 64px;
    }
}