.lead__caption {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.625em;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (width: 320px) {
    .lead__caption {
        margin-left: 16px;
    }
}