.cover__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFDFD;
    max-width: 560px;
    margin-bottom: 32px;
}

@media screen and (max-width:425px) {
    .cover__title {
        max-width: 300px;
        font-size: 40px;
        line-height: 40px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 250px;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }
}