.footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

@media screen and (max-width: 500px) {
    .footer__list {
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width: 320px) {
    .footer__list {
        margin-bottom: 48px;
    }
}